<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="context" name="applicationName" source="spring.application.name"/>
  <property name="LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %3p [${applicationName:-application},%X{traceId:-},%X{spanId:-}] [%X{env:-}] [%X{tenant:-}] [%X{user:-}] [%X{branch:-}] ${PID:- } --- [%15.15t] %-40.40logger{39} : %msg%n"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>utf8</charset>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT"/>
  </root>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>
